@import url('https://at.alicdn.com/t/c/font_4107426_px2m4et1ed.css?spm=a313x.7781069.1998910419.53&file=font_4107426_px2m4et1ed.css');

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 14px;
}

.el-pagination {
    margin-top: 15px;
}

.el-input:focus {
    border-color: #baaacaee;
}

